{% extends 'base.html' %}

{% block content %}
  <!-- Form -->
  <div class="container py-4">
    <form method="POST" action="/result">
      <div class="form-group">
        <h4 class="mb-3">Regular Expression Tester</h4>
        <hr>
        <label>Regular Expression</label>
        <input name="regex" class="form-control" id="regexInput" placeholder="Insert your regular expression here" required>
      </div>
      <div class="form-group">
        <label>Test String</label>
        <textarea name="test_str" class="form-control" id="stringInput" rows="7" placeholder="Insert your test string here" required></textarea>
      </div>
      <button id="reveal" onclick="sendTheAjax()" type="submit" class="btn btn-primary">Submit</button>
      <div id="ajax-content"></div>
    </form>
  </div>
{% endblock %}
